@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none; 
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(129, 99, 240);
    background-image:url(/static/img/_Background.jpeg);
}
.container{
    display: flex;
}

nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #133b619e;
    backdrop-filter: blur(60px);
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Ensure the overlay is above other elements */
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(218, 159, 32);
    font-size:14px ;
    display: table ;
    width: 280px;
    padding: 10px;
}
nav .fas{
    position: relative;
    width:70px;
    height:40px;
    top:14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
    color: black;
}
.logout{
    position:absolute;
    bottom: 0;
}

/* Main Section */
.main{
    position: relative;
    padding: 20px;
    width:100% ;
}
.main-top{
    display:flex ;
    width: 100%;
    color: yellow;
}
.main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: yellow;
    cursor: pointer;
}
.scorelist{
    display: flex;
    margin-top: 20px ;
}
.scorelist .card{
    width: 25%;
    margin: 10px;
    background: #6f6d6dab;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1) ;
}
.scorelist .card i{
    color: #eee;
}
.scorelist .card h3{
    color: #fff;
    margin: 10px;
    text-transform: capitalize;
}
.scorelist .card p{
    font-size: 12px;
    color: #eee;
}
/* typing section */
.wrapper{
    width: 770px;
    padding: 35px;
    background: #6f6d6dab;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
  }
  .wrapper .input-field{
    opacity: 0;
    z-index: -999;
    position: absolute;
  }
  .wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
  }
  .content-box .typing-text{
    overflow: hidden;
    max-height: 256px;
  }
  .typing-text::-webkit-scrollbar{
    width: 0;
  }
  .typing-text p{
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
    color: #fff;
  }
  .typing-text p span{
    position: relative;
  }
  .typing-text p span.correct{
    color: #56964f;
  }
  .typing-text p span.incorrect{
    color: #cb3439;
    outline: 1px solid #fff;
    background: #ffc0cb;
    border-radius: 4px;
  }
  .typing-text p span.active{
    color: white;
  }
  .typing-text p span.active::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: gold;
    animation: blink 1s ease-in-out infinite;
  }
  @keyframes blink{
    50%{ 
      opacity: 1; 
    }
  }
  .content-box .content{
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
  }
  .content button{
    outline: none;
    border: none;
    width: 105px;
    color: black;
    padding: 8px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background: gold;
    transition: transform 0.3s ease;
  }
  .content button:active{
    transform: scale(0.97);
  }
  .content .result-details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
  }
  .result-details li{
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
  }
  .result-details li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #bfbfbf;
  }
  .result-details li p{
    font-size: 19px;
  }
  .result-details li span{
    display: block;
    font-size: 20px;
    margin-left: 10px;
  }
  li span b{
    font-weight: 500;
  }
  li:not(:first-child) span{
    font-weight: 500;
  }
  @media (max-width: 745px) {
    .wrapper{
      padding: 20px;
    }
    .content-box .content{
      padding: 20px 0;
    }
    .content-box .typing-text{
      max-height: 100%;
    }
    .typing-text p{
      font-size: 19px;
      text-align: left;
    }
    .content button{
      width: 100%;
      font-size: 15px;
      padding: 10px 0;
      margin-top: 20px;
    }
    .content .result-details{
      width: 100%;
    }
    .result-details li:not(:first-child){
      border-left: 0;
      padding: 0;
    }
    .result-details li p, 
    .result-details li span{
      font-size: 17px;
    }
  }
  @media (max-width: 518px) {
    .wrapper .content-box{
      padding: 10px 15px 0;
    }
    .typing-text p{
      font-size: 18px;
    }
    .result-details li{
      margin-bottom: 10px;
    }
    .content button{
      margin-top: 10px;
    }
  }
  
  
  header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 99;
      color: rgb(246, 244, 241);
      font-size: 1rem;
  }
  
  .logo{
      font-size: 1.5em;
      color: gold;
      user-select: none;
  }
  
  .navigation a {
      position: relative;
      font-size: 1.1em;
      color: beige;
      text-decoration: none;
      font-weight: 500;
      margin-left: 40px;
  }
  
  .navigation a::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height:3px;
      background:white;
      border-radius: 5px;
      transform-origin: right; 
      transform: scaleX(0);
      transition: transform .5s;
  
  }
  
  .navigation a:hover::after{
      transform: scaleX(1);
  
  }