<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style3.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    

<header>
    <h2 class ="logo">Tanabata Typing</h2>
    <h1 class="header">About</h1>
    <nav class = "navigation">
        <a href="/">Home</a>
                
    </nav>
</header>

<div class="wrapper">
    <div class="content-box">
        <p>In the realm of Japanese folklore, Hikoboshi and Orihima, the Weaver Princess, share a love that transcends the Milky Way.They can only meet once a year during the <b>Tanabata</b> festival.<br>Your mission, is to check your typing speed and accuracy by typing love letters exchanged by the celestial lovers. The <i>FASTER and ACCURATE</i> you type, the closer you bring Hikoboshi and Orihima together, much like the stars do during the festival.<br> <center><strong>ALL THE BEST :)</strong></center></p>
    </div>
</div>
</body>
</html>